.calculator-body {
  width: 30%;
  margin-left: 15%;
  border: 1px solid rgb(20, 14, 14);
  margin-top: 6%;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.calculator-numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.black-screen {
  width: 100%;
  height: 80px;
  background-color: #587bc7;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 40px;
}

.equal-btn {
  width: 100%;
}
